@import './LoginModal';
@import './variables';

html,
body {
    background-color: #fafafa;
    font-family: $font-gotham;
    height: 100vh;
    overflow: hidden;
    width: 100vw;

    #root {
        display: grid;
        grid-template-areas: '. . .' '. modal .' '. . .';
        grid-template-columns: 2% 94% 2%;
        grid-template-rows: 23% 60% auto;
        height: 100vh;
        width: 100vw;

        @media(min-width: 600px) {
            grid-template-columns: auto 420px auto;
            grid-template-rows: auto 420px auto;
        }
        @media(min-width: 1000px) {
            grid-template-columns: auto 520px auto;
            grid-template-rows: auto 520px auto;
        }
    }
    
}
