@import './LoginBox.scss';
@import './variables.scss';

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: #fafafa;
    font-family: $font-gotham;
    overflow: hidden;

    #root {
        display: grid;
        grid-template-columns: 2% 94% 2%;
        grid-template-rows: 2% 94% auto;
        grid-template-areas: ". . ." ". modal ." ". . .";
        width: 100vw;
        height: 100vh;


        @media(min-width: 600px) {
            grid-template-columns: auto 400px auto;
            grid-template-rows: auto 400px auto;
        }
        @media(min-width: 800px) {
            grid-template-columns: auto 500px auto;
            grid-template-rows: auto 500px auto;
        }
        @media(min-width: 1200px) {
            grid-template-columns: auto 600px auto;
            grid-template-rows: auto 600px auto;
        }
    }
    
}