@import './LoginBox.scss';
@import './variables.scss';

html,
body {
    width: 100vw;
    min-height: 100vh;
    background-color: #fafafa;
    font-family: $font-gotham;
    overflow: hidden;
    
}