$font-gotham: 'Gotham', sans-serif;
$font-gotham-pro: 'GothamPro', sans-serif;
$font-colour-light-grey: #4c494b;
$font-colour-dark-grey: #959394;
$hover-color: #2eaf5f;
$default-letter-spacing: -0.03rem;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$default-border: 1px solid lightgray;
$button-hover-state: #2eaf5f;
